name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: update submodule	
      run: git submodule init && git submodule update
    - name: build
      run: ./build.sh
    - name: run test
      run: ./build/memory_log_store_test
